body {
	background-image: url('../img/background.png');
}

p, a, li {
	font-family: $body-font;
	font-size: 1em;
	line-height: 1.5em;
}

a {
	color: $blue;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

h1, h2, h3 {
	font-family: $heading;
	text-transform: uppercase;
	color: $red;;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.25em;
}