#contact {
	background: $red;
	h2 {
		font-size: 2.5em;
		background-image: url('../img/background.png');
		margin-bottom: 75px;
		padding: 12px;
		text-align: center;
		width: 135px; 
	}
	padding-bottom: 120px;
}